<!DOCTYPE html>
<html ng-app="api"> 
<head>
	<title>Academia Bancard</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="calendar.css">
  <script src="jquery-1.12.4.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="calendar.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

  <style type="text/css">
    body{
      background: url('../images/bg-header2.jpg') no-repeat top center;
      background-size: cover;
    }
    label{
      color: #ffffff;
    }
      
    .panel{
      background: none!important;
    }
    .panel-default{
      border: none!important;
    }
    .btn-inscribite{
      background: rgba(84,184,82,1);
        background: -moz-linear-gradient(left, rgba(84,184,82,1) 0%, rgba(141,194,111,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,184,82,1)), color-stop(100%, rgba(141,194,111,1)));
        background: -webkit-linear-gradient(left, rgba(84,184,82,1) 0%, rgba(141,194,111,1) 100%);
        background: -o-linear-gradient(left, rgba(84,184,82,1) 0%, rgba(141,194,111,1) 100%);
        background: -ms-linear-gradient(left, rgba(84,184,82,1) 0%, rgba(141,194,111,1) 100%);
        background: linear-gradient(to right, rgba(84,184,82,1) 0%, rgba(141,194,111,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b852', endColorstr='#8dc26f', GradientType=1 );
        color: #ffffff;
    }

    /* centered columns styles */
    .row-centered {
        text-align:center;
    }
    .col-centered {
        display:inline-block;
        float:none;
        /* reset the text-align */
        text-align:left;
        /* inline-block space fix */
        margin-right:-4px;
    }
  </style>
  <style type="text/css">
  
    /* class para modificar cor nos finais de semana */
  .final_semana a{
      background: #00aff096;
      font-weight: normal;
      color: #ffffff;
  }  

  /* class para modificar a cor do eventos */
      table.ui-datepicker-calendar tbody td.highlight > a {
      background: #153d8a;
      font-weight: normal;
      color: #ffffff;
  } 

  #eventos{
      font-size:18px;
      color:black;
      text-decoration: none;
  } 

 .ui-widget-header {
    border: 1px solid #dddddd;
    background: #00aff0;
    color: #333333;
    font-weight: bold;
}


  </style>

</head>

<body ng-controller="apiRest">

<br><br>
<div class="container row-centered">
    <div class="panel panel-default panel-table col-md-7 col-centered">
        

        <div class="panel-body">

         
          <div class="panel-body">
              <div class="search-box">

                 
                 
                   <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                        	<label>Nombre y Apellido</label>
                          	<input type="" name="nombre" id="nombre" class="form-control" placeholder="" ng-model="inscripcion.nombre_apellido"> 
                        </div>

                          <div class="col-xs-12 col-sm-12 col-md-12">
                         
                           <input style="" type="checkbox" name="vehicle" value="1" ng-model="m" ng-click="tiempos()"> <label>Mañana</label> <input style="" type="checkbox" name="vehicle" value="2" ng-model="mm" ng-click="tiempos()"> <label>Mediodia</label> <input style="" type="checkbox" name="vehicle" value="3" ng-model="t" ng-click="tiempos()"> <label>Tarde</label>
                          	 </div>
                        </div>

                   </div>
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12">
                        	<label>Telefono</label>
                          	<input type="" name="telefono" id="telefono" class="form-control" placeholder="" ng-model="inscripcion.celular"> 
                        </div>

                         <div class="col-xs-12 col-sm-12 col-md-12">
                            <label for="curso">Cupos</label>
                           <select class="form-control" name="cupos" id="cupos" 
                            ng-options="item.cupo for item in cupos" ng-model="selectedCupo" 
                            ng-change="changedCupos()" min="1"></select>
                            </div>
                             <div class="col-xs-12 col-sm-3 col-md-3 hidden">
                            <label for="curso">Fecha</label>
                           <select class="form-control" name="tiempo" id="tiempo" 
                            ng-options="item.fecha for item in fechas" ng-model="selectedFecha" 
                            ng-change="changeFechas()" min="1"></select>
                            
                             </div>

                            <div class="col-xs-12 col-sm-8 col-md-8">
                               <div id="calendario"></div>
                             </div>         

                   </div>
                    <br>

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12">
                        	<label>Email</label>
                          	<input type="" name="correo" id="correo" class="form-control" placeholder="" ng-model="inscripcion.correo"> 
                        </div>

                         <div class="col-xs-12 col-sm-12 col-md-12">
                            <label for="curso">Horario</label>
                           <select class="form-control" name="tiempo" id="tiempo" 
                            ng-options="item.horarios for item in horarios" ng-model="selectedHorario" 
                            ng-change="changeHorarios()" min="1"></select>
                           </div>



                   </div>
               

              </div>

              <br>
              <div class="row">

                 <div class="col-xs-12 col-sm-12 col-md-12 row-centered">
                   
                   <button style="font-size:24px; text-transform:uppercase" class="btn btn-inscribite" ng-click="guardar()">Inscribirse</button>
                    
                  </div>
                  
              </div>

        </div>

  </div>

</body>
</html>

<script type="text/javascript">
   var app = angular.module('api', []);
    app.controller('apiRest',function($scope,$http,$window,$timeout){
    
 
    /****Cargar Select de Tiempo(Manualmente)****/
        $scope.tiempos = [];
        var t = {
          id:1,
          descripcion:"Mañana"
        }
        $scope.tiempos.push(t);
        t = {
          id:2,
          descripcion:"Mediodia"
        }
        $scope.tiempos.push(t);
         t = {
          id:3,
          descripcion:"tarde"
        }
        $scope.tiempos.push(t);
        $scope.selectedTiempo = $scope.tiempos[0];
    /**********************************************/

     $scope.m = false;
     $scope.mm = false;
     $scope.t = false;
    /***Llamar metodo al cambiar el tiempo(para obtener la cantidad de cupos)***/
       
        $scope.tiempos = function(){
          $scope.getCupos($scope.m,$scope.mm,$scope.t);
        }

    /**********************************************************************/    

    /****Cargar Select de Cupos(WebServices)****/
        $scope.cupos = [];
        $scope.getCupos = function(manana,mediodia,tarde){
          $http.get("http://174.138.53.240/academia-bancard/HorariosFecha/getCupos/"+manana+"/"+mediodia+"/"+tarde)
            .then(function(data){
               $scope.cupos = [];
              var i = 0;
              var limite = data.data.cupos[0].cupo;
              var c = "";
              while (i < limite){
                c = {
                  id:(i+1),
                  cupo:(i+1)
                }
                $scope.cupos.push(c);
                i++;
              }
              $scope.selectedCupo = $scope.cupos[0];
               $timeout(function () {
                 $scope.changedCupos();
             }, 500);
               
            });
        }

     $scope.calcularCarga = function(limite,data){
              var i = 0;
              $scope.events = [];
              var d = "";
              var f = "";
              while (i < limite){
                f = new Date(data[i].date);
                d = {
                  id:data[i].id,
                  Date:f
                }
                $scope.events.push(d);
                i++;
        }
         $scope.loadCalendar($scope.events);

     }   
    /**********************************************/
    
     /***Llamar metodo al cambiar cupos(para obtener la fecha)***/
        $scope.changedCupos = function(){
           //alert($scope.selectedCupo.id,$scope.m,$scope.mm,$scope.t);
           $scope.getFechas($scope.selectedCupo.id,$scope.m,$scope.mm,$scope.t);
        }
    /**********************************************************************/  

    /****Cargar Select de Fechas(WebServices)****/
        $scope.fechas = [];
        $scope.events = [];
        $scope.getFechas = function(cupos,manana,mediodia,tarde){
          //PARAMETROS: cupos/tiempo
          $http.get("http://174.138.53.240/academia-bancard/HorariosFecha/getFechas/"+cupos+"/"+manana+"/"+mediodia+"/"+tarde)
            .then(function(data){
              //console.log(data.data.fechas);
              $scope.fechas = data.data.fechas;
              var limite = data.data.fechas.length;
              $scope.calcularCarga(limite,data.data.fechas);
              $scope.selectedFecha = $scope.fechas[0];
              
             
              $timeout(function () {
                  $scope.changeFechas();
             }, 500);
             
            });
        }
    /**********************************************/


     /***Llamar metodo al cambiar el fecha(para obtener los horarios)***/
        $scope.changeFechas = function(){
          
           $scope.getHorarios($scope.selectedFecha.id,$scope.m,$scope.mm,$scope.t);
        }
    /**********************************************************************/  

    /****Cargar Select de Fechas(WebServices)****/
        $scope.horarios = [];
        $scope.getHorarios = function(fecha_id,manana,mediodia,tarde){
          $http.get("http://174.138.53.240/academia-bancard/HorariosFecha/getHorarios/"+fecha_id+"/"+manana+"/"+mediodia+"/"+tarde)
            .then(function(data){
              $scope.horarios = data.data.horarios;
              $scope.selectedHorario = $scope.horarios[0];

            });
        }

        $scope.formatFechaYDM = function(date){
          var today = date
          var dd = today.getDate();
          var mm = today.getMonth()+1; //January is 0!

          var yyyy = today.getFullYear();
          if(dd<10){
              dd='0'+dd;
          } 
          if(mm<10){
              mm='0'+mm;
          } 
          var today = yyyy+'-'+mm+'-'+dd;
          return today;
        }

        
        $scope.tiempos();
        var hoy = new Date();
        $scope.inscripcion = {
          id:0,
          fecha:$scope.formatFechaYDM(hoy),
          celular:0,
          correo:"",
          nombre_apellido:"",
          cupos:0,
          curso_id:1,
          fecha_curso_id:0,
          horario_fecha_id:0
        }
        $scope.verificarCampos = function(){

            if($scope.inscripcion.nombre_apellido==null || $scope.inscripcion.nombre_apellido==''){
                alert("Debes Ingresar el Nombre");
                $("#nombre").focus();
                return false;
            }

            if($scope.inscripcion.correo==null || $scope.inscripcion.correo==''){
                alert("Debes Ingresar el Correo");
                $("#correo").focus();
                return false;
            }

            return true;
        }


        /*****************Metodo Guardar Inscripcion******************/
        $scope.guardar = function(){
           if($scope.verificarCampos()){
             $scope.inscripcion.cupos = $scope.selectedCupo.id;
             $scope.inscripcion.fecha_curso_id = $scope.selectedFecha.id;
             $scope.inscripcion.horario_fecha_id = $scope.selectedHorario.id;
             console.log($scope.inscripcion);

              $http.post("http://174.138.53.240/academia-bancard/Inscripciones/addEntity/",$scope.inscripcion).
              then(function(response){
                if(response.data.mensaje=="202"){
                  alert("Se guardo correctamente");
                  window.location="saludo.php";
                }else{
                  alert("Error.");
                }
                
              });
           }
        }

  $scope.formatMDY = function(date){
        var fecha = date;
        fecha = fecha.split("/");
        fecha = fecha[1]+'-'+fecha[0]+'-'+fecha[2];
        return fecha;
  }    

var disableddates = ["10-05-2018", "09-05-2018"];


$scope.DisableSpecificDates=function(date) {
    var string = jQuery.datepicker.formatDate('dd-mm-yy', date);
    return [disableddates.indexOf(string) == -1];
  }  
  $scope.loadCalendar = function(events_date){
    var events = events_date;
    console.log(events);
    $("#calendario").datepicker("destroy");
    $("#calendario").datepicker({
      dateFormat:'dd/mm/yy',
        dayNames:['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sábado','Domingo'],
        dayNamesMin:['D','L','M','M','J','V','S','D'],
        dayNamesShort:['Dom','Lun','Mar','Mie','Jue','Vie','Sáb','Dom'],
        monthNames:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
        monthNamesShort:['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Set','Otc','Nov','Dic'],
        nextText:'Siguiente',
        prevText:'Anterior',
        dateFormat:'dd/mm/yy',
        beforeShowDay:function(date){

            var result = [true, '', null];
            var matching = $.grep(events, function(event) {
                return event.Date.valueOf() === date.valueOf();
            });

            if (matching.length) {
                result = [true, 'highlight', null];
            }else{
               result = [false, '', ''];
            
            }
            return result; 
        },
        onSelect: function (date) {
          $scope.horarios = [];
          console.log($scope.horarios);
            var matching = $.grep(events, function(event) {
                 var fecha = $scope.formatMDY(date);
                 fecha = new Date(fecha);
                if(event.Date.valueOf()==fecha.valueOf()){
                  $scope.getHorarios(event.id,$scope.m,$scope.mm,$scope.t);
                }     
            });  
    }
    });
}


    });
</script>

